:root {
  --pt-serif: 'PT serif', serif;
  --hk-grotesk: 'HK Grotesk', serif;
  --pt-sans: 'PT Sans', sans-serif;
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/hk-grotesk/HKGrotesk-Regular.otf');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/hk-grotesk/HKGrotesk-Italic.otf');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/hk-grotesk/HKGrotesk-SemiBold.otf');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/hk-grotesk/HKGrotesk-Bold.otf');
}
