html, body {
    margin: 0;
    height: 100%;
}

.table-title {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 37px;
    margin-bottom: 10px;
}

.table-title::first-letter {
    font-weight: 500;
    font-size: 32px;
}

.table {
    width: 60%;
    max-width: 1200px;
    min-width: 500px;
    margin: 8px;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 400;
    line-height: 16px;

    border-collapse: collapse
}

td + td {
    border-left: 1px solid rgba(116, 116, 116, 0.2);
}

th + th {
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}

tr + tr {
    border-top: 1px solid rgba(255, 255, 255, 1);
}

.table th {
    font-size: 18px;
}

.table td, .table th {
    height: 38px;
    text-align: center;
}

.table thead tr:first-child {
    background: #A3E9A4;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

.table th:hover {
    background: #6D95FA;
    text-decoration: underline;
}

.table tr:nth-child(-n + 2) {
    background: rgba(255, 192, 192, 0.5);
}

.table tr:nth-child(n + 4):nth-child(-n + 5) {
    background: rgba(191, 191, 191, 0.2);
} 

.table tr:nth-last-child(-n + 3) {
    background: rgba(255, 238, 149, 0.6);
}

.table tr:last-child {
    background: rgba(210, 250, 255, 0.6);
}

.table td a:link {
    color: #000000;
    text-decoration: none;
}

td:first-child a:visited {
    color: #AD00FF;
}

td:first-child a:hover {
    color: #000000;
    text-decoration: underline;
    font-weight: 500;
}

td:first-child a:active {
    text-decoration: none;
    font-weight: 500;
    color: #001AFF;
}

td:nth-child(2) a:visited {
    color: #8700C7;
}

td:nth-child(2) a:hover {
    text-decoration: underline;
    font-weight: 500;
    color: #17AAD9;
}

td:nth-child(2) a:active {
    text-decoration-line: underline;
    font-weight: 500;
    color: #0015D0;
}

td:last-child a:visited {
    color: #FF736A;
    font-weight: 500;
}

td:last-child a:hover {
    color: #000000;
    background-color: #C5EAFF;
}

td:last-child a:active {
    color: #000000;
    font-weight: 500;
    background-color: #D1A4FF;
}
