.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item + .nav-item {
  margin-left: 2.5rem;
}

.nav-link {
  text-decoration: none;
  color: var(--black);
  line-height: 19px;
}

.nav-link-active,
.nav-link:hover {
  color: var(--gold);
}

.category-nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.category-nav-item {
  padding: 15px 0;
}

.category-nav-item + .category-nav-item {
  border-top: 1px solid #E5E5E5;;
}

.category-nav-link {
  width: 100%;
  text-decoration: none;
  color: var(--gray);
  font-size: 14px;
  line-height: 19px;
  display: flex;
  justify-content: space-between;
}

.category-nav-link:hover {
  text-decoration: dotted;
}