* {
    color: black !important;
}

header, #aside, .footer {
    border: none;
}

header {
    padding: 0;
}

.navigation-list ul {
    list-style-type: disc;
}

.navigation-list ul li {
    font-size: 18px;
    text-decoration: none;
}

#aside ul {
    list-style-type: disc;
}

#invisible {
    opacity: 1;
}

.semi-visible {
    opacity: 1;
}
